.git
**/.git
**/node_modules
**/vendor
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example
**/bootstrap/cache/*.php
**/.phpunit.result.cache
**/coverage
**/*.md
!README.md
docs
agent-transcripts
**/.cursor
**/tests
**/phpunit.xml
**/deploy/docker/docker-compose.override.yml
apps/*/packages
